/*FF4B3E tomato*/
/*582707 seal brown*/
/*972D07 brown*/
/*FFB20F selective yellow*/
/*FFE548 maize*/
body{
    background-color: #FFE548;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    line-height: 1.6;
}

nav{
    background-color: black;
    height: 2rem;
}

img{
    margin: 2rem 0rem 0rem 2rem;
    width: 45rem;
    border-radius: 100%;
    width: 40rem ;
    height: 40rem ;
    border-radius: 100% ;
    box-shadow: 0 0 20px 10px rgb(0,0,0,0.2);
}
img:hover{
    margin: 2rem 0rem 0rem 2rem;
    width: 50rem;
    border-radius: 100%;
    width: 50rem ;
    height: 50rem ;
    border-radius: 100% ;
    box-shadow: 0 0 20px 10px rgb(0,0,0,0.2);
}
.image-container{
    text-align: center;
}